

/*new*/
.footer {
  background: #396ebb;
}


body {
  background: #ffffff;
}
#sitename, #sitename a {
    color: #3f76c4;
}

.top .top_main {
 background: #4078c6;
}

.top .top_main .sf-depth-1 a:hover {
  background: #1d5ebc;
}

.top .top_main .block .block-content {
  padding: 0;
}
.top .top_main ul.sf-menu .sf-sub-indicator {
  width: 16px;
  height: 16px;
  right: 0.5em;
}

.top .top_main ul.sf-menu.sf-style-blue {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}



