@import "../base/vars";
/* target-teaser */
// НАПРАВЛЕНИЯ
#block-targets {
  padding: 20px 0;
  margin-bottom: $distance;
  text-align: center;
  background-color: $mainColor;
  color: #fff;
  text-transform: uppercase;
  
  letter-spacing: 1.3px;
}
// сам блок
#block-views-block-target, .targets-page {
   max-width: 845px;
   margin: 0 auto;
   a {
     display: block;
     color: $mainFontColor;
     
   }
  .view-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $distanceBlock;
    margin-bottom: $distanceBlock;
    @media (max-width:555px) {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  .field-content {
    position: relative;
    width: 220px;
    margin-top: 65px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
  }
  .field-content a:first-child {
    padding-bottom: 30px;
  }
  .front {
    position: relative;
    img {
      width: 64px;
      height: 64px;
      transition: all .3s ease;
    }
  }
  .front_img-bg {
    position: absolute;
    z-index: -1;
    width: 197px;
    height: 197px;
    top: -58px;
    left: 13px;
  }
  .field-content:hover {
    .front img {
      filter: grayscale(80%);
      transform: scale(1.3);
    }
  }
  a {
    @extend %antelive-Bold;
    color: $mainColor;
    max-width: 225px;
    font-size: 18px;
  }
}

/* target-full */

.target-full {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $distance;
    margin-bottom: $distance;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__text {
    flex-grow: 1;
    margin-right: $distance;
    @media (max-width: 768px) {
     margin-right: 5px;
     order: 2;
    }
  }
  &__image {
    flex: 0 0 215px;
    text-align: center;
/*     img {
      width: 87px;
    } */
  }

  &__gallary {
    text-align: center;
    margin-bottom: $distance;
    .field__item {
      display: inline-block;
      vertical-align: middle;
      margin: 2px;
      margin-bottom: 5px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      overflow: hidden;
      a {
        display: inline; // убирает отступы
      }
      img {
        display: block; // убирает отступы
        width: 260px;
        transition: 1s;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}
  