.social-links {
  display: flex;
  flex: 0 1 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 40px;
}
.social-links li:not(:last-child) {
    margin-right: 10px;
  }
  .social-links li {
    transition: all .2s;
}
  .social-links li a {
      height: 29px;
      width: 29px;
      color: transparent;
}
  .social-links__vk {
    background: url('../images/vk-bg.png') 50% 50% no-repeat;
  }
  .social-links__vk:hover {
      background-image: url('../images/vk.png');
  }

.social-links__ok {
    background: url('../images/ok-bg.png') 50% 50% no-repeat;}

    .social-links:hover {
      background-image: url('../images/ok.png');
    }
  
    .social-links__facebook {
    background: url('../images/facebook-bg.png') 50% 50% no-repeat;
  }
    .social-links:hover {
      background-image: url('../images/facebook.png');
    }
  
    .social-links__instagram {
    background: url('../images/instagram-bg.png') 50% 50% no-repeat;
  }
    .social-links__instagram:hover {
      background-image: url('../images/instagram.png');
    }
  
    .social-links__ytube {
      background: url('../images/ytube-bg.png') 50% 50% no-repeat;
    }
    .social-links__ytube:hover {
      background-image: url('../images/ytube.png');
    }
  
 
