.search-vue {
  width: 100%;
  position: relative;
}

.search-vue__form {
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}

.search-vue__input {
  width: 33%;
  padding: 5px 5px 5px 55px;
  outline: none;
  border: none;
  background-color: #569797;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search-vue__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.search-vue__input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.search-vue__input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

.search-vue__input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.search-vue__input:focus {
  width: 100%;
  -webkit-box-shadow: inset 0px 5px 4px rgba(59, 59, 59, 0.3);
          box-shadow: inset 0px 5px 4px rgba(59, 59, 59, 0.3);
}

@media (max-width: 795px) {
  .search-vue__input {
    width: 45%;
  }
}

.search-vue button {
  height: inherit;
  width: 45px;
  position: absolute;
  background-color: #8ccaca;
  background-position: center;
  background-repeat: no-repeat;
  left: 0px;
  top: 0px;
  outline: none;
  border: none;
}

.search-vue__submit {
  background-size: 60%;
  background-image: url("./icons/search.svg");
}

.search-vue__clear {
  display: none;
  background-size: 80%;
  background-image: url("./icons/clear.svg");
}

.search-vue__form_has-results {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-vue__results {
  position: absolute;
  z-index: 40;
  top: 32px;
  width: 100%;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.search-vue__result {
  padding: 8px 16px;
  color: #000;
  display: block;
}

.search-vue__result:hover {
  background-color: #569797;
  color: white;
}

.search-vue__result:last-child {
  border-bottom: unset;
}
