@font-face {
  font-family: 'Antelive-Bold';
  src: url("../../assets/fonts/antelive-Bold.woff2") format("woff2"), url("../../assets/fonts/antelive-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.search .view-content > div {
  display: block !important;
}

.search .js-form-type-textfield label {
  display: none;
}

.search .view-filters {
  position: relative;
}

.search .js-form-item-text {
  width: 100%;
  color: #242424;
  outline: none;
  border: none;
  margin: 0;
  padding: 14px 45px 20px 10px;
}

@media (max-width: 555px) {
  .search .js-form-item-text {
    padding: 10px 13px 0px 0px;
  }
}

.search .js-form-item-text input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  height: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 100%;
  margin: 0 0 8px 0;
  margin-top: 10px;
  padding-left: 10px;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
}

.search .js-form-item-text input:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.search .form-submit {
  font-size: 0;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url("../images/icons/search.svg");
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  background-repeat: no-repeat;
  right: 32px;
  top: 24px;
  background-size: 100%;
  outline: none;
  border: none;
}

@media (max-width: 555px) {
  .search .form-submit {
    background-size: 85%;
    right: 0;
  }
}

.global-search {
  margin-bottom: 25px;
}

.global-search__title {
  margin-bottom: 5px;
}

.global-search__title a {
  color: #242424;
}

.global-search__title a:hover {
  text-decoration: underline;
}

@media (max-width: 555px) {
  .global-search__overflow {
    overflow-x: scroll;
  }
}

.global-search__link {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 555px) {
  .global-search__link {
    width: 555px;
  }
}

.global-search__wrap {
  display: flex;
  color: #000;
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  margin-top: 5px;
  margin-bottom: 5px;
}

.global-search__tags {
  margin-left: 15px;
}

.global-search__tags .field__item {
  display: inline-block;
  color: #000;
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
}

.global-search__text {
  max-height: 65px;
  overflow: hidden;
}

@media (max-width: 555px) {
  .global-search__text {
    max-height: 60px;
  }
}
