@import "../base/vars";


.section-8 {
  background-color: $secondColor;
  /* padding-top: $distanceBlock; */
  /* padding-bottom: $distance; */
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 85px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  //
  .view-content {
    margin-bottom: $distanceBlock;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: clamp(0.5vw, 1vw, 2vw);
    @media (max-width: 545px) {
      grid-row-gap: 10px;
    }
  }
}