@import "../base/vars";


#block-views-block-useful-links {
  h2 {   // заголовок блока
    color: #fff;
    margin-bottom: $distanceBlock;
    text-align: center;
    text-transform: uppercase;
    @extend %calibri-bold;
    letter-spacing: 1.3px;
  }
  .view-useful-links {
    max-width: 845px;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: scroll;
  }
  .view-content {
    display: flex;
    justify-content: flex-start;
    width: 1900px;
  }
}
.useful-links {
  position: relative;
  display:flex; // картинка по центру
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 159px;
  height: 159px;
  color: $mainFontColor;
  &:hover {
    img {
      opacity: 0.3;
     }
     .useful-links__title {
      opacity: 1;
    } 
  }
 img {
  opacity: 1;
  transition: all .2s;
 }
 &__title {
   text-align: center;
   position: absolute;
   top: 20px;
   left: -2px;
   opacity: 0;
   transition: all .2s;
 }
}

// style for scroll

/* https://active-vision.ru/blog/polosa-prokrutki-css/ */
.view-useful-links::-webkit-scrollbar {
  /* width: 6px; */
  background-color: $mainColor;
}

.view-useful-links::-webkit-scrollbar-thumb {
  /* border-radius: 8px; */
  background-color: #fff;
}

.view-useful-links::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  /* border-radius: 8px; */
  background-color: $mainColor;
}