@import "../base/vars";

.breadcrumbs {
  margin-top: 10px;
  margin-bottom: 10px;
  &__inner{
    @media (max-width:815px) {
      overflow-x: scroll;
   }
  }
  @media(max-width:815px) {
    .mobile-overflow {
      width: 860px;
    }
  }
  &__list-item {
    display: inline-block;
    padding-right: 20px;
    margin-right: 5px;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    /* text-transform: lowercase; */
/*     &:first-letter {
      text-transform: capitalize;
    } */
    a {
      color: $mainFontColor;
      transition: all 0.2s;
      &:hover {
        color: $mainColor;
      }
      &:active {
        color: $mainFontColor;
      }
/*       &:first-letter {
        text-transform: capitalize;
      } */
    }
    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 4px;
      background-image: url('../images/icons/arrow-nav.svg');
      width: 12px;
      height: 8px;
      transform: rotate(270deg);
      filter: brightness(0.5);
    }
    &:last-child::after {
      display: none;
    }
  }
}