
@media print {
 

  @page {                
    size: A4;
    margin: 0.4cm;/*яндекс, Хром*/
    /*margin: 0.1cm; /*FireFox*/
  }

  html, body {
   width: 1200px;  /*яндекс, Хром*/
  }
  
 
   .oo .site_name a {
    font-size: 20px!important;
  }
  a{border:0;text-decoration:none;}
 
a img{border:0}
* { font-size: 98%!important;}
*,
*:before,
*:after,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line {
    box-shadow: none !important;
    text-shadow: none !important;
   
  }
  
* {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    -ms-print-color-adjust: exact !important;
    print-color-adjust: exact !important; 
    color-adjust: exact;  
        /*firefox & IE */
}

 .oo .top_menu ul.menu li > a {color: #fff !important;}

.views_node_news {
    float: left!important;
    width: 48%!important;
    height: 310px!important;
  }
ul, img, .sidebar .block, .footer{
    page-break-inside: avoid;
    break-inside: avoid;
}

.oo .sidebar .fz_menu {
    position: relative;
    max-height: none;
  }

.oo .sidebar .fz_menu ul.sf-menu a, .oo .sidebar .fz_menu ul.sf-menu a:visited, .oo .sidebar .fz_menu ul.sf-menu span.nolink {border: none !important;}
.oo .left_sidebar .block {display: block !important;}
.oo #photo_gallery_slider li {display: inline-block!important; vertical-align: middle!important;  width: 130px!important;}
/*.oo .polezn-resurs-slider img, 
.oo .polezn-resurs-slider li 
{display: inline-block!important; vertical-align: middle!important; width: 90px!important; height: 80px!important; }*/
.oo .downward {margin-bottom: 10px;}
.oo .site_logo img {width: 120px!important; height: 120px!important;}
.oo .wrap_banner, .oo .banner {height: auto!important;}
.oo .top_menu ul.menu li > a {padding: 10px 5px!important;} /*font-size: 14px!important;*/
/*.oo .sidebar .block h2, .oo .footer h2 {font-size: 12px!important;}
.oo .main .content h2 {font-size: 14px!important;}
.oo .news_slider .title a, .oo .more-link a, .oo .news-list_title--block a {font-size: 10px!important;}
*/
.oo .news-list_title--block {width: 70%!important;}
.oo .polezn_resurs .wrap_title {display: none!important;}
.oo .polezn_resurs, .oo .polezn_resurs img {width: 100px!important; height: 100px!important;}
.oo .vs_img {padding: 0!important;}

.oo  .downward {display: block!important;}
  .oo .key .Login-popup-link {display: block!important;}
  .oo .banner .site_logo {
    display: block!important;
  }
  .oo {padding-top: 0!important;}
  .oo .vs form {
    margin-right: 60px!important;
  }

.oo .vs_img:before {
     display: block;
     transform: scale(.8);
   }


.oo .search-block-form .form-submit {width: 80px!important;}
.oo .wrap_content  {background: none!important;}

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-sm-12,
    .col-md-12 {
        width: 100%;
    }
    .col-sm-11,
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-sm-10,
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-sm-9,
    .col-md-9 {
        width: 75%;
    }
    .col-sm-8,
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-sm-7,
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-sm-6,
    .col-md-6 {
        width: 50%;
    }
    .col-sm-5,
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-sm-4,
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-sm-3,
    .col-md-3 {
        width: 25%;
    }
    .col-sm-2,
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-sm-1,
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
    .visible-xs {
        display: none !important;
    }
    .hidden-xs {
        display: block !important;
    }
    table.hidden-xs {
        display: table;
    }
    tr.hidden-xs {
        display: table-row !important;
    }
    th.hidden-xs,
    td.hidden-xs {
        display: table-cell !important;
    }
    .hidden-xs.hidden-print {
        display: none !important;
    }
    .hidden-sm {
        display: none !important;
    }
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
@supports (-moz-appearance:meterbar) {
  body, html {
        margin: 0 auto!important;
        width: 800px!important;
      overflow: visible!important;
        height: 100%!important;
        font-size: 0.85em!important;
    }
  .container, .row {
    width: 100%!important;
     overflow: visible!important;
     height: 100%!important;
  }

 
.oo .polezn-resurs-slider img, .oo .polezn-resurs-slider li { width: 60px!important; height: 50px!important;}
.oo .polezn_resurs, .oo .polezn_resurs img {width: 100%!important; height: 60px!important;}
.oo #photo_gallery_slider li { width: 5%!important;}

/*IE11 print preview*/
@media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  

.oo .vs_img {height: 50px!important;}
 .oo .vs_img:before {
     content: url(../images/eye.png)!important;
     transform: scale(.1);
    
   }
    
  .oo .polezn_resurs, .oo .polezn_resurs img {width: 90px!important; height: 90px!important;}

}
@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm){


}
