@import "../base/vars";


#block-views-block-achievements, .achievements-full {
  
  .view-achievements {
    max-width: 845px;
    margin: 0 auto;
  }
  .view-content {
    margin-bottom: $distanceBlock;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 221px);
    grid-gap: clamp(0.5vw, 1vw, 2vw);
    @media (max-width: 545px) {
      grid-row-gap: 10px;
    }
  }
  .views-row, .field-content {
    background-color: $secondColor;
    height: 221px;
    text-align: center;
    transition: .2s;
    overflow: hidden;
    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: 1s;
    }
  }
}
