@import "../base/vars";

#block-views-block-comments {
  .view-content {
    max-width: 445px;
    margin: 0 auto;
  }
  .slick, .slick-wrapper {
     max-width: 100%;
     position: relative;
  }
  .slick-arrow {
      &.slick-prev, &.slick-next {
        z-index: 5;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
      }
  
      &.slick-prev {
        left: -100px;
        @media (max-width: 840px) {
          left: -60px;
        }
        &::before {
          display: block;
          content: ' ';
          background-image: url('../images/icons/arrow.svg');
          background-size: 28px 28px;
          height: 28px;
          width: 28px;
          transform: rotate(90deg);
        }
      }
      &.slick-next {
        right: -85px;
        @media (max-width: 840px) {
          right: -45px;
        }
        &::before {
          display: block;
          content: ' ';
          background-image: url('../images/icons/arrow.svg');
          background-size: 28px 28px;
          background-color: transparent;
          height: 28px;
          width: 28px;
          transform: rotate(-90deg);
        }
      }
  
  }
  .slick-dots {
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      text-align: center;
  }
  .slick-dots li {
      display: inline-block;
      padding: 0 5px;
  }
  .slick-dots button {
      font-size: 0;
      margin: 0;
      padding: 0;
      width: 11px;
      height: 11px;
      border: 1px solid $mainColor;
      /* border: transparent; */
      border-radius: 50%;
      background-color: #fff;
      outline: none;
      @media (max-width: 640px) {
        width: 7px;
        height: 7px;
       }
  }
  .slick-active button {
     background-color:$mainColor;
  }
  .container-no-padding {
      max-width: 1470px;
      padding: 0 15px;
      margin: 0 auto;
      @media (max-width:1025px) {
        padding: 0;
      }
  } 
  .slick-slide img {
    display: inline-block;
  }
}