@import "vars";

/* Global */
html {
  box-sizing: border-box;
  min-height: 100vh;
  columns: #0000;
}

body {
  @extend %calibri-light;
  font-size: $mainFontSize;
  color: $mainFontColor;
  line-height: $mainLineHeight;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  background: url('../images/icons/bg.svg') 0% 0 repeat;
  background-attachment: fixed;
}

*, *:before, *:after { 
  box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 { 
  margin: 0;
  font-size: inherit; 
}

p { 
  margin: 0; 
}

a { 
  text-decoration: none;
  color: $mainColor;
  display: inline-block; 
  transition: all .2s;
  &:hover {
    color: $mainFontColor;
  }
  &:active {
    color: $mainColor;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 375px) {
    padding: 0 10px;
  }
}

.visually-hidden {
  display: none;
}

//STYLE FOR menu-icon
/* body.lock{
  overflow: hidden;
} */

img {
  max-width: 100%;
  height: auto;
}

.system {
  .messages {
    margin-bottom: 20px;
  }
}


.link-more {
  display: table;
  margin: 0 auto;
  padding-top: 30px;
  a {
    height: 50px;
    padding: 15px 20px 17px;
    text-decoration: none !important;
    color: #fff !important;
    text-align: center;
    letter-spacing: .12px;
    text-transform: uppercase;
    background-color: $mainColor;
    transition: all .2s;
    color: #fff !important;
    box-shadow: 1px 3px 4px rgba(59, 59, 59, 0.45);
    &:hover {
      box-shadow: none;
    }
    &:active {
      box-shadow: inset 0px 5px 4px rgba(59, 59, 59, 0.3);
    }
  }
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  color: $mainColor;
  font-size: 23px;
}

#block-start-theme-content { // убирает кнопку "добавить материал" на главной
  .view-empty {
    display: none;
  }
}

// кнопка изменить содержимое
.views-field-edit-node a {
  font-size: 15px;
  position: absolute;
  bottom: -20px;
  right: 0px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding:  7px 15px;
  border-radius: 25px;
  background-color: #1565c0;
  color: #fff;
  transition: all .2s;
  @media (max-width:425px) {
    font-size: 12px;
    bottom: 5px; 
  } 

  box-shadow: 1px 3px 4px rgba(59, 59, 59, 0.45);
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: inset 0px 5px 4px rgba(59, 59, 59, 0.3);
  }
}

.toolbar-icon-9 {
  .views-field-edit-node a {
    display: block;
  }
 }
 .views-field-edit-node a {
  display: none;
}

