@import "../base/vars";

// переопределяем стили section-1
.search { // добавляем класс в views
  .view-content > div { 
    display: block !important;
  }

  .form--inline {
    position: relative;
    margin-top: 20px;
  }
  .js-form-item-text {
    background: #f0f0f4;
    border-radius: 3px;
    width: 100%;
    color: $mainFontColor;
    outline: none;
    border: none;
    margin: 0;
    padding: 14px 20px;
    padding-left: 10px;
    padding-right: 45px;
    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      margin: 0;
      height: 100%;
      font-size: $mainFontSize;
    }
  }
  .form-submit {
    font-size: 0;
    padding: 21px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    background-image: url('../images/icons/search.svg');
    filter: invert(0.35);
    background-repeat: no-repeat;
    right: 7px;
    top: 7px;
    background-size: 100%;
    outline: none;
    border: none;
  }
  input[type=text]:not(.browser-default):focus:not([readonly]) {
    border: 0px;
    box-shadow: none;
  }
}


