// COLORS
$mainFontColor           : #1a171b;
$mainColor               : #2eb3b3;
$secondColor             : #2b5b71;
$mainFontSize            : 19px;
$mainLineHeight          : 1.15;

//FONTS
%calibri-regular{ //mainFont
  /* font-family: 'Roboto', sans-serif; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

%myriad-bold{
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* %sf-semibold{
  font-family:'SFProDisplay', sans-serif;
  font-weight: 600;
}
%sf-bold{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 700;
}
%sf-medium{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
} */