@import "vars";

/* Global */
html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  @extend %calibri-regular;
  font-size: $mainFontSize;
  color: $mainFontColor;
  line-height: $mainLineHeight;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

*, *:before, *:after { 
  box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 { 
  margin: 0;
  font-size: inherit; 
}

p { 
  margin: 0; 
}

a { 
  text-decoration: none;
  color: $mainFontColor;
  display: inline-block; 
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 375px) {
    padding: 0 10px;
  }
}

.visually-hidden {
  display: none;
}

//STYLE FOR menu-icon
/* body.lock{
  overflow: hidden;
} */

img {
  max-width: 100%;
  height: auto;
}

/* .system {
  margin-bottom: 20px;
} */
