@import "vars";
@import "brakepoints";

.header {
  font-size: $mainFontSize;
  @media (max-width: 455px) {
    font-size: 15px;
  }
  &__top {
    @extend %myriad-bold;
    text-align: center;
    padding: 6px 10px;
    color: $secondColor;
    background-color: $mainColor;
  }
  &__center {
    display: grid;
    margin: 0 15px;
    align-items: center;
    text-align: center;
    grid-template-areas:
    "header-left header-logo header-right";
    grid-template-rows: 120px;
    grid-template-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
    grid-gap: clamp(0.5vw, 4vw, 4vw); //
    @include desctop {
      margin: 0;
      grid-gap: 0.2vw;
      grid-template-columns: 1fr;
      grid-template-areas:
      "header-left"
      "header-logo"
      "header-right";
    }
  }
  &__underline {
    min-height: 31px;
    background-color: $mainColor;
    @media (max-width: 1024px) {
      margin-top: 5px;
    }
  }
}

.center-header {
  font-weight: 300;
  &__left {
    grid-area: header-left;
    a {
      color: $mainFontColor;
    }
  }
  &__logo {
    grid-area: header-logo;
    img {
      max-height: 105px;
      max-width: 145px;
    }
  }
  &__right {
    grid-area: header-right;
    color: $mainColor;
  }
}

.bottom-header {
  margin: 0 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  &__logos img {
    max-height: 42px;
    max-width: 135px;
  }
  &__menu {
    display: flex;
  }
  &__icons {
    
  }
}