@import "vars";
@import "brakepoints";

.header {
  @media (max-width: 455px) {
    font-size: 17px;
  }
  &__top {
    @extend %calibri-bold;
    text-align: center;
    padding: 6px 10px;
    color: $secondColor;
    background-color: $mainColor;
  }
  &__center {
    display: grid;
    margin: 0 15px;
    align-items: center;
    text-align: center;
    grid-template-areas:
    "header-left header-logo header-right";
    grid-template-rows: 120px;
    grid-template-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
    grid-gap: clamp(0.5vw, 4vw, 4vw);
    @include lg {
      margin: 0;
      grid-gap: 1vw;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "header-left"
      "header-logo"
      "header-right";
    }
  }
  &__underline {
    min-height: 31px;
    background-color: $mainColor;
    @media (max-width: 1024px) {
      margin-top: 5px;
    }
  }
}

.center-header {
  &__left {
    grid-area: header-left;
    a {
      color: $mainFontColor;
    }
  }
  &__logo {
    grid-area: header-logo;
    @media (max-width: 550px) {
      display: none;
    }
    img {
      max-height: 105px;
      max-width: 145px;
    }
  }
  &__right {
    grid-area: header-right;
    color: $mainColor;
  }
}

.bottom-header {
  position: relative; // for menu-mobile
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 550px) {
    margin: 5px 0;
  }
  &__logos {
    @media (max-width: 550px) {
      display: none;
    }
    img {
      max-height: 42px;
      max-width: 135px;
    }
  }

  &__icons {
    .icon-impaired {
      height: 37px;
    }
    .material-icons.main-color { 
      color: $mainFontColor;
      font-size: 43px;
      transition: all 0.2s;
      &:hover {
        color: $mainColor;
      }
     }
  }
  &__burger {
    display: flex;
    align-items: center;
    @media (max-width: 550px) {
      order: 1;
    }
    p {
      @extend %calibri-bold;
      margin-right: clamp(40px, 4vw, 70px);
      @media (max-width: 455px) {
       font-size: 19px;
     }
     &.active {
       color: $mainColor;
     }
    }
  }
}

.menu-header {
  @media (max-width: 1295px) {
    display: none;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  &__item a {
    display: block;
    padding: 19px 58px;
    position: relative;
    transition: all .3s;
    &:hover {
      color: $mainColor;
    }
    &:before {
      position: absolute;
      content: "";
      background-color: $mainColor;
      height: 3px;
      width: 0;
      left: auto;
      right: 0;
      bottom: 0;
      transition: all .3s;
    }
    &:hover:before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
  
  .submenu {
    padding-bottom: 10px;
    display: block;
    position: absolute;
    max-width: 100%;
    background: #fafafa;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .2s ease-in-out;
    .menu-header__item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: all .3s;
      &:hover {
        border-bottom: 1px solid $mainColor;
      }
    }
    .menu-header__item a:before {
      height: 0px;
    }
  }
  &__item_collapsed:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

}

.icon-menu {
  display: none;
  @media (max-width: 1295px){
   display: block;
   position: relative;
   width: 33px;
   height: 26px;
   cursor: pointer;
   z-index: 5;
    span{
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color:#000;
      &:first-child{
        top: 0;
      }
      &:last-child{
        top: auto;
        bottom: 0;
      }
    }
    &.active{
      span{
       transform: scale(0);
       &:first-child{
         transform: rotate(-45deg);
         top: calc(50% - 1px);
        }
       &:last-child{
         transform: rotate(45deg);
         bottom: calc(50% - 1px);
       }
     }
   }
 }
}

.menu-mobile {
  position: absolute;
  z-index: 15;
  top: 54px;
  left: -24px;
  height: 100vh;
  min-width: clamp(275px, 50vw, 375px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transform: translate(-100%);
  transition: all .4s;
  &.active{
    transform: translate(0%);
  }
  .menu-header__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
      color: $mainColor;
      border-bottom:1px solid $mainColor;
    }
    a:before {
      height: 0px;
    }
  }
  .menu-header__item_collapsed > a:before {
    position: absolute;
    content: "";
    background-image: url('../images/icons/arrow-down.svg');
    background-color: transparent;
    left: 25px;
    bottom: 25px;
    width: 12px;
    height: 8px;
    transform: rotate(180deg);
  }
  .active > a:before {
    transform: rotate(0);
  }
}

