@import "vars";

.section-1 {
  display: grid;
  margin-bottom: $distanceBlock;
  grid-template-areas:
  "menu-main content banners";
  grid-template-rows: 1fr;
  grid-template-columns: minmax(290px, 310px) auto minmax(260px, 280px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
  &__main-menu {
   grid-area: menu-main;
  }
  &__banners {
    grid-area: banners;
    text-align: center;
    a {
      margin-bottom: 5px; 
      width: 100%;
    }
    img {
      border: 1px solid $borderColor;
     width: 100%;
     object-fit: contain;
    }
    .slick-list { // высота видимости баннеров (slides to show)
      height: 750px !important;
    }
  }

  .menu-main {
    @extend %calibri-bold;
    #block-menu-main-menu {
      font-size: $mainFontSize;
      color: $mainColor;
      text-align: center;
      margin-bottom: 8px;
    }
    li ul {
      display: none;
      background-color: $secondColor;
    }
    li a {
      color: $mainFontColor;
      &:hover {
        color: #fff;
        background-color: $mainColor;
      }
      padding: 7px;
      display: block;
      padding-left: 27px;
      position: relative;
      transition: all .2s;
      cursor: pointer;
    }
    &__item_collapsed > a:before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/arrow-nav.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      left: 7px;
      bottom: 38%;
      width: 12px;
      height: 8px;
      transform: rotate(180deg) scale(1.3);
    }
    &__item_collapsed > a:hover {
      &::before {
        filter: brightness(10);
      }
    }
    .active > a {
      color: #fff;
      background-color: $mainColor;

      &::before {
        transform: rotate(0) scale(1.3);
        filter: brightness(10);
      }
    }

    .is-active {
      color: #fff;
      background-color: $mainColor;
    }
    .submenu-2 {
      position: static;
    }
  }

  .content-section-1 {
    .view-content {
      display: grid;
      justify-content: center;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(auto-fill ,255px);
      grid-gap: clamp(0.5vw, 1vw, 2vw);
    }
  }
  .infinite-scroll {
    .view-content {
      display: block;
      margin-top: $distance;
    }
    .view-content > div {
      display: grid;
      justify-content: center;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(auto-fill ,255px);
      grid-gap: clamp(0.5vw, 1vw, 2vw);
    }
  }
}