.section-1 {
  display: grid;
  margin-bottom: 15px;
  grid-template-areas:
  "menu-main content banners";
  grid-template-rows: 1fr;
  grid-template-columns: minmax(350px, 385px) auto minmax(345px, 355px);
  grid-gap: clamp(1vw, 2vw, 3vw);
  &__main-menu {
   grid-area: menu-main;
  }
  &__content {
    grid-area: content;
  }
  &__banner {
    grid-area: banners;
  }
}