@import "vars";

.section-1 {
  display: grid;
  margin-bottom: 35px;
  grid-template-areas:
  "menu-main content banners";
  grid-template-rows: 1fr;
  grid-template-columns: minmax(290px, 310px) auto minmax(260px, 280px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
  &__main-menu {
   grid-area: menu-main;
  }
  &__content {
    a {
      color: $mainColor;
      text-decoration: underline;
      transition: all .2s;
      &:hover {
        color: $mainFontColor;
        text-decoration: none;
      }
    }
  }
  &__banners {
    grid-area: banners;
    text-align: center;
    a {
      margin-bottom: 5px; 
      width: 100%;
    }
    img {
      border: 1px solid $borderColor;
     width: 100%;
     object-fit: contain;
    }
    .slick-list { // высота видимости баннеров (slides to show)
      height: 750px !important;
    }
  }

  .menu-main {
    @extend %myriad-bold;
    font-size: 17px;
    #block-menu-main-menu {
      font-size: $mainFontSize;
      color: $mainColor;
      text-align: center;
      margin-bottom: 30px;
    }
    li ul {
      display: none;
    }
    li a {
      margin-bottom: 15px;
      display: block;
      padding-left: 27px;
      position: relative;
      transition: all .3s;
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
    }
    &__item_collapsed > a:before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/arrow-nav.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      left: 0;
      bottom: 38%;
      width: 12px;
      height: 8px;
      transform: rotate(180deg) scale(1.3);
    }
    .active > a:before {
      transform: rotate(0) scale(1.3);
    }
    .is-active {
      color: $mainColor;
    }
    .submenu-2 {
      position: static;
    }
  }

  .content-section-1 {
    .view-content {
      margin-top: 20px;
      display: grid;
      justify-content: center;
      align-content: start;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fill ,255px);
      grid-gap: clamp(0.5vw, 1vw, 2vw);
    }
  }
}