/* styles for templates main menu */

/* для всех шаблонов */
.tp-2, .tp-3, .tp-4, .tp-5, .tp-6 {
  text-align: center;
}

.tp-2 table {
  width: 100%;
}

/* для всех таблиц */
.table-1 {
  width: 100%;
  margin-bottom: 50px;
}

.table-1 td:nth-child(1) {
  width: 50%;
}

.table-1 td:nth-child(2) {
  width: 50%;
}

.tp-3 .table-1 td:nth-child(1) {
  width: 70%;
}

.tp-3 .table-1 td:nth-child(2) {
  width: 30%;
}
