/**
 * @file
 * Visual styles for tabs.
 */
 .tabs {
  margin-bottom: 15px;
  height: 38px;
}
 div.tabs {
  margin: 1em 0;
}
ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #1976d2;
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] .tabs > li {
  margin-right: 0;
  margin-left: 0.3em;
}
.tabs a {
  color: #1565c0 !important;
  display: block;
  padding: 0.2em 1em;
  text-decoration: none !important;
}
.tabs a.is-active {
  background-color: #e3f2fd;
  border-radius: 5px;
  font-weight: 500;
}
.tabs a:hover {
  background-color: #bbdefb;
  border-radius: 5px;
}
.tabs a:active {
  background-color: #e3f2fd;
  border-radius: 5px;
}
