@import "../base/vars";


#block-views-block-staff, .staff-full {
  max-width: 845px;
  margin: 0 auto;
  h2 {   // заголовок блока
    color: #fff;
    margin-bottom: $distanceBlock;
    text-align: center;
    text-transform: uppercase;
    @extend %calibri-bold;
    letter-spacing: 1.3px;
  }

  .views-row {
    position: relative;
    &:hover {
      .staff__bottom {
        background-color: #fff;
        opacity: 0.7;
      } 
    }
  }
  
  .staff {
    text-align: center;
    a {
      font-size: 0;
      color: $mainFontColor;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      will-change: transform;
      transition: .2s;
      &:hover {
        box-shadow: 0 10px 20px rgba(51,51,51,.2);
        transform: scale(1.01);
      }
    }
   &__image {
     padding-top: 5px;
     
     background: $mainColor;
   }
   &__bottom {
     text-align: center;
     padding-top: 29px;
     padding-bottom: 5px;
     transition: all .2s;
   }
   &__position {
    text-transform: lowercase;
    margin-top: 10px;
   }
  }
}



// переопределяем стили section-1
.staff-full { // добавляем класс в views
  .view-content > div { 
      margin-bottom: $distanceBlock;
      grid-template-columns: repeat(auto-fill, 220px) !important;
  }
}

// страница
.node-staff {
  .field-staff-sername, .field-staff-txt-name, .field-staff-position {
    text-align: center;
    @extend %calibri-bold;
  }
  .field-photo-staff {
    text-align: center;
    margin-top: $distance;
    margin-bottom: $distance;
  }
}


