@import "../base/vars";


#block-views-block-staff {
  max-width: 845px;
  margin: 0 auto;
  h2 {   // заголовок блока
    color: #fff;
    margin-bottom: $distanceBlock;
    text-align: center;
    text-transform: uppercase;
    @extend %calibri-bold;
    letter-spacing: 1.3px;
  }
  .views-row {
    position: relative;
  }
  .staff {
    text-align: center;
    a {
     // box-shadow: 0 8px 16px rgba(51,51,51,.12);
      font-size: 0;
      color: $mainFontColor;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      will-change: transform;
      transition: .2s;
      &:hover {
        box-shadow: 0 10px 20px rgba(51,51,51,.2);
        transform: scale(1.01);
      }
    }
   &__image {
     padding-top: 20px;
     margin-bottom: 29px;
     background: $mainColor;
     width: 220px;
     height: 220px;
   }
   &__bottom {
     text-align: center;
     margin-bottom: 5px;
   }
   &__position {
    text-transform: lowercase;
    margin-top: 10px;
   }
  }
}