#block-views-block-achievements h2, .achievements-full h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#block-views-block-achievements h2, .achievements-full h2 {
  padding: 20px 0;
  margin-bottom: 15px;
  text-align: center;
  background-color: #569797;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#block-views-block-achievements .view-achievements, .achievements-full .view-achievements {
  max-width: 845px;
  margin: 0 auto;
}

#block-views-block-achievements .views-row, #block-views-block-achievements .field-content, .achievements-full .views-row, .achievements-full .field-content {
  background-color: #8ccaca;
  height: 221px;
  text-align: center;
  transition: .2s;
  overflow: hidden;
}

#block-views-block-achievements .views-row:hover, #block-views-block-achievements .field-content:hover, .achievements-full .views-row:hover, .achievements-full .field-content:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

#block-views-block-achievements .views-row:hover img, #block-views-block-achievements .field-content:hover img, .achievements-full .views-row:hover img, .achievements-full .field-content:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#block-views-block-achievements .views-row img, #block-views-block-achievements .field-content img, .achievements-full .views-row img, .achievements-full .field-content img {
  transition: 1s;
}
