body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* %sf-semibold{
  font-family:'SFProDisplay', sans-serif;
  font-weight: 600;
}
%sf-bold{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 700;
}
%sf-medium{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
} */
/* Global */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

body {
  font-size: 19px;
  color: #1a171b;
  line-height: 1.15;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #1a171b;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    padding: 0 10px;
  }
}

.visually-hidden {
  display: none;
}

/* body.lock{
  overflow: hidden;
} */
img {
  max-width: 100%;
  height: auto;
}
