.top-footer__left #block-contacts-menu {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer {
  margin-top: 35px;
}

.footer__top {
  margin-bottom: 35px;
  min-height: 365px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1275px) {
  .footer__top {
    display: block;
  }
}

.footer__bottom {
  background-color: #569797;
}

.top-footer {
  align-items: center;
  color: #569797;
}

.top-footer__left {
  margin-right: 15px;
}

@media (max-width: 1275px) {
  .top-footer__left {
    margin-right: 0;
    text-align: center;
  }
}

.top-footer__left #block-contacts-menu {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

@media (max-width: 1275px) {
  .top-footer__left #block-contacts-menu {
    position: relative;
    display: inline-block;
    background-color: #569797;
    color: #fff;
    letter-spacing: 1.5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 1275px) and (max-width: 425px) {
  .top-footer__left #block-contacts-menu {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 1275px) {
  .top-footer__left #block-contacts-menu::before {
    position: absolute;
    content: "";
    background-image: url("../images/icons/arrow-nav.svg");
    background-color: transparent;
    left: 70px;
    bottom: 12px;
    width: 18px;
    height: 12px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-filter: brightness(10);
            filter: brightness(10);
  }
}

@media (max-width: 1275px) and (max-width: 425px) {
  .top-footer__left #block-contacts-menu::before {
    left: 15%;
  }
}

.top-footer__left .menu-footer {
  margin-bottom: 20px;
}

.top-footer__left .menu-footer__item:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 1275px) {
  .top-footer__left .menu-footer {
    display: none;
  }
}

.top-footer__left .view-head-info {
  max-width: 330px;
}

@media (max-width: 1275px) {
  .top-footer__left .view-head-info {
    max-width: unset;
    margin-bottom: 20px;
    display: none;
  }
}

.top-footer__left .view-head-info .views-field:not(:last-child) {
  margin-bottom: 5px;
}

.top-footer__left .view-head-info .views-field-field-phone .field-content {
  display: inline-flex;
  flex-direction: column;
}

.top-footer__left .view-head-info .views-field-field-email a {
  position: relative;
  padding-left: 25px;
  transition: all .2s;
}

.top-footer__left .view-head-info .views-field-field-email a::before {
  transition: all .2s;
  position: absolute;
  left: -3px;
  height: 24px;
  width: 24px;
  content: '';
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: url("../images/icons/mail.svg") 50% 50% no-repeat;
}

.top-footer__left .view-head-info .views-field-field-email a:hover::before {
  -webkit-filter: invert(0.1);
          filter: invert(0.1);
}

.top-footer__left .view-head-info .views-field-field-phone a {
  position: relative;
  padding-left: 25px;
  transition: all .2s;
}

.top-footer__left .view-head-info .views-field-field-phone a::before {
  transition: all .2s;
  position: absolute;
  left: -3px;
  height: 24px;
  width: 24px;
  content: '';
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: url("../images/icons/phone.svg") 50% 50% no-repeat;
}

.top-footer__left .view-head-info .views-field-field-phone a:hover::before {
  -webkit-filter: invert(0.1);
          filter: invert(0.1);
}

.top-footer__right {
  flex: 0 1 1045px;
}

@media (max-width: 1275px) {
  .top-footer__right {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 375px) {
  .top-footer__right {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.bottom-footer {
  text-align: center;
}

.bottom-footer a {
  color: #fff;
}

.bottom-footer a:hover {
  text-decoration: underline;
}

.bottom-footer .container {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 110px;
  display: flex;
  align-items: center;
  color: #fff;
}

@media (max-width: 1050px) {
  .bottom-footer .container {
    display: block;
  }
}

.bottom-footer__column {
  flex: 0 1 50%;
}

.bottom-footer__column:nth-child(2) {
  flex: 0 0 185px;
  text-align: center;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 685px) {
  .bottom-footer__column:nth-child(2) {
    flex: 0 0 135px;
  }
}

@media (max-width: 455px) {
  .bottom-footer__column:nth-child(2) {
    flex: 0 0 73px;
  }
}

.bottom-footer__column:nth-child(3) {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.bottom-footer__column:nth-child(3) a {
  color: #fff;
}
