/**
 * @file
 * The modern CSS reset.
 * @see https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

:root {
  --color-white: #ffffff;
  --color-platinum: #EBEBED;
  --color-light-gray: #D4D4D8;
  --color-gainsboro: #D8D9E0;
  --color-silver-metallic: #ADAEB3;
  --color-manatee: #8E929C;
  --color-dark-silver: #545560;
  --color-roman-silver: #82828C;
  --color-raisin-black: #222330;
  --color-persian-blue: #003CC5;
  --color-persian-blue--dark-1: #0036B1;
  --color-persian-blue--light-1: #0042DD;
  --color-persian-blue--light-2: #E9EFFF;
  --color-maximum-red: #D72222;
  --color-maximum-red--dark-1: #C91F1F;
  --color-maximum-red--light-1: #DE2E2E;
  --color-maximum-red--light-2: #FCEFEF;
  --color-jade: #26A769;
  --color-sunglow: #FFD23F;
  --color-border: var(--color-manatee);
  --color-disabled: var(--color-platinum); }

:root {
  --grid-gap: var(--spacing-sm);
  --grid-container-max-width: 100%;
  --grid-template-columns-12: repeat(12, [col] 1fr); }
  @media (min-width: 992px) {
    :root {
      --grid-container-max-width: 940px; } }
  @media (min-width: 1140px) {
    :root {
      --grid-container-max-width: 1120px; } }

:root {
  --layout-container-side-gap: var(--spacing-lg); }

.layout-container {
  width: 100%;
  max-width: var(--grid-container-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-container-side-gap); }
:root {
  --radius-xxs: 0.125rem;
  /* 0.125 * 16px = 2px */
  --radius-xs: 0.25rem;
  /* 0.25 * 16px = 4px */
  --radius-sm: 0.5rem;
  /* 0.5 * 16px = 8px */
  --radius-md: 0.75rem;
  /* 0.75 * 16px = 12px */
  --radius-lg: 1rem;
  /* 1 * 16px = 16px */ }

:root {
  --shadow-xs: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 14px 30px rgba(0, 0, 0, 0.1); }

:root {
  --spacing-xxs: 0.25rem;
  /* 0.25 * 16px = 4px */
  --spacing-xs: 0.5rem;
  /* 0.5 * 16px = 8px */
  --spacing-sm: 0.75rem;
  /* 0.75 * 16px = 12px */
  --spacing-md: 1rem;
  /* 1 * 16px = 16px */
  --spacing-lg: 1.5rem;
  /* 1.5 * 16px = 24px */
  --spacing-xl: 3rem;
  /* 3 * 16px = 48px */ }

  .visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important; }
  
  .visually-hidden:active,
  .visually-hidden:focus {
    clip: auto !important;
    height: auto !important;
    margin: 0 !important;
    overflow: visible !important;
    position: static !important;
    width: auto !important;
    white-space: inherit !important; }