.header__top, .bottom-header__burger p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* %sf-semibold{
  font-family:'SFProDisplay', sans-serif;
  font-weight: 600;
}
%sf-bold{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 700;
}
%sf-medium{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
} */
@media (max-width: 455px) {
  .header {
    font-size: 17px;
  }
}

.header__top {
  text-align: center;
  padding: 6px 10px;
  color: #2b5b71;
  background-color: #2eb3b3;
}

.header__center {
  display: -ms-grid;
  display: grid;
  margin: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
      grid-template-areas: "header-left header-logo header-right";
  -ms-grid-rows: 120px;
      grid-template-rows: 120px;
  -ms-grid-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
      grid-template-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
  grid-gap: clamp(0.5vw, 4vw, 4vw);
}

@media (max-width: 1024px) {
  .header__center {
    margin: 0;
    grid-gap: 1vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "header-left" "header-logo" "header-right";
  }
}

.header__underline {
  min-height: 31px;
  background-color: #2eb3b3;
}

@media (max-width: 1024px) {
  .header__underline {
    margin-top: 5px;
  }
}

.art:hover {
  background-color: #000;
}

.center-header__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-left;
}

.center-header__left a {
  color: #1a171b;
}

.center-header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-logo;
}

@media (max-width: 550px) {
  .center-header__logo {
    display: none;
  }
}

.center-header__logo img {
  max-height: 105px;
  max-width: 145px;
}

.center-header__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-right;
  color: #2eb3b3;
}

.bottom-header {
  position: relative;
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .bottom-header {
    margin: 5px 0;
  }
}

@media (max-width: 550px) {
  .bottom-header__logos {
    display: none;
  }
}

.bottom-header__logos img {
  max-height: 42px;
  max-width: 135px;
}

.bottom-header__icons .icon-impaired {
  height: 37px;
}

.bottom-header__icons .material-icons.main-color {
  color: #1a171b;
  font-size: 43px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bottom-header__icons .material-icons.main-color:hover {
  color: #2eb3b3;
}

.bottom-header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .bottom-header__burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.bottom-header__burger p {
  margin-right: clamp(40px, 4vw, 70px);
}

@media (max-width: 455px) {
  .bottom-header__burger p {
    font-size: 19px;
  }
}

.bottom-header__burger p.active {
  color: #2eb3b3;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
}

@media (max-width: 1295px) {
  .menu-header {
    display: none;
  }
}

.menu-header__item a {
  display: block;
  padding: 19px 58px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-header__item a:hover {
  color: #2eb3b3;
}

.menu-header__item a:before {
  position: absolute;
  content: "";
  background-color: #2eb3b3;
  height: 3px;
  width: 0;
  left: auto;
  right: 0;
  bottom: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-header__item a:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu-header .submenu {
  padding-bottom: 10px;
  display: block;
  position: absolute;
  max-width: 100%;
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu-header .submenu .menu-header__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-header .submenu .menu-header__item:hover {
  border-bottom: 1px solid #2eb3b3;
}

.menu-header .submenu .menu-header__item a:before {
  height: 0px;
}

.menu-header__item_collapsed:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.icon-menu {
  display: none;
}

@media (max-width: 1295px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 33px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu-mobile {
  position: absolute;
  z-index: 15;
  top: 54px;
  left: -24px;
  height: 100vh;
  min-width: clamp(275px, 50vw, 375px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu-mobile.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.menu-mobile .menu-header__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile .menu-header__item:hover {
  color: #2eb3b3;
  border-bottom: 1px solid #2eb3b3;
}

.menu-mobile .menu-header__item a:before {
  height: 0px;
}

.menu-mobile .menu-header__item_collapsed > a:before {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-down.svg");
  background-color: transparent;
  left: 25px;
  bottom: 25px;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-mobile .active > a:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
