.header__top, .bottom-header__burger p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 455px) {
  .header {
    font-size: 17px;
  }
}

.header__top {
  text-align: center;
  padding: 6px 10px;
  color: #569797;
  background-color: #569797;
}

.header__center {
  display: -ms-grid;
  display: grid;
  margin: 0 15px;
  align-items: center;
  text-align: center;
      grid-template-areas: "header-left header-logo header-right";
  -ms-grid-rows: 120px;
      grid-template-rows: 120px;
  -ms-grid-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
      grid-template-columns: minmax(350px, 550px) minmax(90px, 145px) minmax(350px, 550px);
  grid-gap: clamp(0.5vw, 4vw, 4vw);
}

@media (max-width: 1024px) {
  .header__center {
    margin: 0;
    grid-gap: 1vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "header-left" "header-logo" "header-right";
  }
}

.header__underline {
  min-height: 31px;
  background-color: #569797;
}

@media (max-width: 1024px) {
  .header__underline {
    margin-top: 5px;
  }
}

.center-header__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-left;
}

.center-header__left a {
  color: #1f1d21;
}

.center-header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header-logo;
}

@media (max-width: 550px) {
  .center-header__logo {
    display: none;
  }
}

.center-header__logo img {
  max-height: 105px;
  max-width: 145px;
}

.center-header__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-right;
  color: #569797;
}

.bottom-header {
  position: relative;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 550px) {
  .bottom-header {
    margin: 5px 0;
  }
}

@media (max-width: 550px) {
  .bottom-header__logos {
    display: none;
  }
}

.bottom-header__logos img {
  max-height: 42px;
  max-width: 135px;
}

.bottom-header .icons_header {
  height: 37px;
  width: 37px;
}

.bottom-header .icons_header:hover {
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottom-header__icons {
  display: flex;
  flex-direction: row;
}

.bottom-header__icons a:not(:last-child) {
  margin-right: 5px;
}

.bottom-header__icons .material-icons.main-color {
  color: #1f1d21;
  font-size: 43px;
  transition: all 0.2s;
}

.bottom-header__icons .material-icons.main-color:hover {
  color: #569797;
}

.bottom-header__burger {
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  .bottom-header__burger {
    order: 1;
  }
}

.bottom-header__burger p {
  margin-right: clamp(40px, 4vw, 70px);
}

@media (max-width: 455px) {
  .bottom-header__burger p {
    font-size: 19px;
  }
}

.bottom-header__burger p.active {
  color: #569797;
}

.menu-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*   .submenu-2 a {
    display: block;
    padding: 19px 58px;
    position: relative;
    transition: all .3s;
} */
}

@media (max-width: 1295px) {
  .menu-header {
    display: none;
  }
}

.menu-header__item a {
  display: block;
  padding: 19px 58px;
  position: relative;
  transition: all .3s;
}

.menu-header__item a:hover {
  color: #569797;
}

.menu-header__item a:before {
  position: absolute;
  content: "";
  background-color: #569797;
  height: 3px;
  width: 0;
  left: auto;
  right: 0;
  bottom: 0;
  transition: all .3s;
}

.menu-header__item a:hover:before {
  width: 100%;
}

.menu-header .is-active {
  color: #569797;
}

.menu-header li ul {
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: all .2s ease-in-out;
  padding-bottom: 10px;
  display: block;
  position: absolute;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #ededed;
}

.menu-header li ul .menu-header__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.menu-header li ul .menu-header__item:hover {
  border-bottom: 1px solid #569797;
}

.menu-header li ul .menu-header__item a:before {
  height: 0px;
}

.menu-header li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-header .submenu-2 {
  position: absolute;
  left: 150px;
}

.icon-menu {
  display: none;
}

@media (max-width: 1295px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 33px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu-mobile {
  /* padding-bottom: 50px; */
  height: 100vh;
  position: absolute;
  z-index: 15;
  top: 45px;
  left: -24px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: clamp(330px, 70vw, 495px);
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  transition: all .4s;
}

.menu-mobile.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.menu-mobile ul li {
  margin-left: 15px;
}

.menu-mobile li ul {
  padding: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: none;
  position: static;
  background: transparent;
  box-shadow: none;
  border: transparent;
}

.menu-mobile li ul .menu-header__item {
  border-bottom: none;
}

.menu-mobile li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-mobile .submenu-2 {
  display: none;
  position: static;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-mobile .submenu-2 a {
  border-bottom: none;
}

.menu-mobile li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-mobile li a:before {
  background-color: transparent;
}

.menu-mobile li:hover {
  border: none;
}

.menu-mobile .menu-header__item_collapsed > a:before {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-nav.svg");
  background-color: transparent;
  left: 25px;
  bottom: 25px;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-mobile .active > a:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
