.menu-mobile li a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.menu-header {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bottom-header__burger p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 555px) {
  .header {
    font-size: 17px;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-size: 24px;
}

@media (max-width: 555px) {
  .header__center > div {
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 555px) {
  .header__center > div {
    font-size: 17px;
  }
}

.top-header {
  min-height: 40px;
}

.top-header__column:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 850px;
          flex: 0 1 850px;
}

.top-header__column:nth-child(1) #block-poisk {
  height: 30px;
  position: relative;
  padding-left: 200px;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #569797;
}

.top-header__column:nth-child(1) #block-poisk::before {
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  left: 0;
  height: 30px;
  width: 38px;
  content: '';
  -webkit-filter: invert(1);
          filter: invert(1);
  background: url("../images/icons/search.svg") 50% 50% no-repeat;
}

.top-header__column:nth-child(1) #block-site-map {
  margin-right: 15px;
}

@media (max-width: 685px) {
  .top-header__column:nth-child(1) #block-site-map {
    display: none;
  }
}

.center-header {
  background-color: #569797;
}

.center-header a {
  color: #FFFFFF;
}

.center-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 1450px) {
  .center-header__column {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
  }
}

.center-header__column:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-header__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
  text-align: center;
  margin-left: 5px;
}

@media (max-width: 685px) {
  .center-header__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 135px;
            flex: 0 0 135px;
  }
  .center-header__column:nth-child(2) img {
    max-height: 80px;
  }
}

@media (max-width: 455px) {
  .center-header__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 73px;
            flex: 0 0 73px;
  }
  .center-header__column:nth-child(2) img {
    max-height: 70px;
  }
}

.center-header__column:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-header__column:nth-child(3) .views-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.center-header__flags {
  padding-right: 10px;
}

.center-header__flags img {
  max-height: 51px;
  max-width: 135px;
}

@media (max-width: 1450px) {
  .center-header__flags {
    display: none;
  }
}

.center-header__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.center-header__contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1450px) {
  .center-header__contacts {
    margin-top: 25px;
  }
  .center-header__contacts a {
    color: #000;
  }
}

.center-header__contacts .views-view-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-header__contacts a {
  line-height: 1.4;
}

.center-header__contacts .views-field-field-email a {
  position: relative;
  padding-left: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.center-header__contacts .views-field-field-email a::before {
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  left: 0;
  height: 29px;
  width: 22px;
  content: '';
  -webkit-filter: invert(1);
          filter: invert(1);
  background: url("../images/icons/mail.svg") 50% 50% no-repeat;
}

@media (max-width: 1450px) {
  .center-header__contacts .views-field-field-email a::before {
    -webkit-filter: invert(0.35);
            filter: invert(0.35);
  }
}

.center-header__contacts .views-field-field-email a:hover::before {
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
}

.center-header__contacts .views-field-field-phone a {
  position: relative;
  padding-left: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.center-header__contacts .views-field-field-phone a::before {
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  left: 0;
  height: 34px;
  width: 26px;
  content: '';
  -webkit-filter: invert(1);
          filter: invert(1);
  background: url("../images/icons/phone.svg") 50% 50% no-repeat;
}

@media (max-width: 1450px) {
  .center-header__contacts .views-field-field-phone a::before {
    -webkit-filter: invert(0.35);
            filter: invert(0.35);
  }
}

.center-header__contacts .views-field-field-phone a:hover::before {
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
}

.center-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.center-header__icons .icon-impaired {
  padding-right: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.center-header__icons .icon-impaired:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1450px) {
  .center-header__icons .icon-impaired img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

.center-header__icons .modal-trigger, .center-header__icons .link-unregister {
  width: 44px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.center-header__icons .modal-trigger img, .center-header__icons .link-unregister img {
  width: 44px;
}

.center-header__icons .modal-trigger:hover, .center-header__icons .link-unregister:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1450px) {
  .center-header__icons .modal-trigger img, .center-header__icons .link-unregister img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

.bottom-header {
  position: relative;
  margin: 1px 0;
  /* min-height: 50px; */
  margin: 0 auto;
}

@media (max-width: 1495px) {
  .bottom-header {
    padding-top: 5px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bottom-header__burger {
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1450px) {
  .bottom-header__burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.bottom-header__burger p {
  margin-right: clamp(40px, 5vw, 70px);
}

@media (max-width: 455px) {
  .bottom-header__burger p {
    font-size: 17px;
  }
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1450px) {
  .menu-header {
    display: none;
  }
}

.menu-header__item a {
  display: block;
  padding: 17px 46px;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #1f1d21;
  text-transform: uppercase;
  /*     &:before {
      position: absolute;
      content: "";
      background-color: $mainColor;
      height: 3px;
      width: 0;
      left: auto;
      right: 0;
      bottom: 0;
      transition: all .3s;
    }
    &:hover:before {
      width: 100%;
    } */
}

.menu-header__item a:hover {
  background-color: #569797;
  color: #FFFFFF;
}

.menu-header .is-active {
  background-color: #569797;
  color: #FFFFFF;
}

.menu-header li ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /* padding-bottom: 10px; */
  display: block;
  position: absolute;
  max-width: 100%;
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #ededed; */
}

.menu-header li ul .menu-header__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-header li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-header .submenu-2 {
  position: absolute;
  left: 50%;
}

.icon-menu {
  display: none;
}

@media (max-width: 1450px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu.active {
    color: #fff;
  }
  .icon-menu.active span {
    background-color: #FFF;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu-mobile {
  /* height: 100vh; */
  margin-bottom: 35px;
  position: absolute;
  z-index: 15;
  top: 47px;
  left: -24px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: clamp(330px, 70vw, 495px);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (max-width: 455px) {
  .menu-mobile {
    top: 43px;
  }
}

.menu-mobile.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.menu-mobile ul li {
  margin-left: 15px;
}

.menu-mobile li ul {
  padding: 0;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: none;
  transition: none;
  position: static;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: transparent;
}

.menu-mobile li ul .menu-header__item {
  border-bottom: none;
}

.menu-mobile li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu-mobile .submenu-2 {
  display: none;
  width: 100%;
  position: static;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-mobile .submenu-2 a {
  border-bottom: none;
}

.menu-mobile li a {
  text-transform: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 55px;
}

.menu-mobile li a:hover {
  background-color: transparent;
  color: #1f1d21;
}

.menu-mobile li:hover {
  border: none;
}

.menu-mobile .menu-header__item_collapsed > a:before {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-nav.svg");
  background-color: transparent;
  left: 35px;
  bottom: 21px;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-mobile .active > a:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.backdrop-menu {
  z-index: 10;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.menu-mobile.active + .backdrop-menu {
  left: 0;
  opacity: 1;
}

@media (max-width: 1495px) {
  #block-views-block-head-info-block-2-2 .views-view-grid .views-row {
    width: auto;
  }
  #block-views-block-head-info-block-2-2 .views-view-grid .views-row a {
    margin-bottom: 10px;
  }
}
