.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  overflow: hidden;
  font-size: 19px;
  max-width: 450px;
  border-radius: 5px;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media (max-width: 425px) {
  .modal {
    width: 95%;
  }
}

.modal .modal-content {
  padding: 24px;
  padding-bottom: 10px;
}

.modal label {
  font-size: 19px;
  color: #569797;
}

.modal input[type=text]:not(.browser-default), .modal input[type=password]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 19px;
  margin: 0 0 8px 0;
  padding: 0;
  margin-top: 10px;
  padding-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.modal input:not([type]):focus:not([readonly]), .modal input[type=text]:not(.browser-default):focus:not([readonly]), .modal input[type=password]:not(.browser-default):focus:not([readonly]), .modal input[type=email]:not(.browser-default):focus:not([readonly]), .modal input[type=url]:not(.browser-default):focus:not([readonly]), .modal input[type=time]:not(.browser-default):focus:not([readonly]), .modal input[type=date]:not(.browser-default):focus:not([readonly]), .modal input[type=datetime]:not(.browser-default):focus:not([readonly]), .modal input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .modal input[type=tel]:not(.browser-default):focus:not([readonly]), .modal input[type=number]:not(.browser-default):focus:not([readonly]), .modal input[type=search]:not(.browser-default):focus:not([readonly]), .modal textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
          box-shadow: 0 1px 0 0 #26a69a;
}

.modal .modal-footer .btn {
  margin: 6px 0;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .btn {
  background: url("../images/icons/login.svg") no-repeat center right 7px;
  font-size: 17px;
  outline: 0;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding-left: 16px;
  padding-right: 35px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
