.modal {
  overflow: hidden;
  font-size: 19px;
  max-width: 450px;
  border-radius: 5px;
}

.modal .modal-content {
  padding-bottom: 10px;
}

.modal label {
  font-size: 19px;
  color: #569797;
}

.modal input[type=text], .modal input[type=password] {
  padding-left: 10px;
  font-size: 19px;
  height: 2.5rem;
}

@media (max-width: 425px) {
  .modal {
    width: 95%;
  }
}
