.photo-gallery__title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#block-views-block-photo-gallery h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.photo-gallery {
  position: relative;
  height: 295px;
  width: 255px;
  border: 1px solid #a7a6a6;
  background-color: #fff;
}

.photo-gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 8px 10px 8px;
  width: 100%;
  min-height: 20%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.photo-gallery__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.photo-gallery__link:hover {
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;
  background-color: #fff;
  opacity: 0.8;
}

.photo-gallery__link:hover .photo-gallery__hover-text {
  opacity: 1;
}

.photo-gallery__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-gallery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.photo-gallery__title span {
  text-align: center;
}

.photo-gallery__hover-text {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 30px;
  left: 13px;
  color: #1f1d21;
  margin-right: 5px;
}

.photo-gallery__statistics {
  text-decoration: none;
  color: #1f1d21;
  position: relative;
  padding-left: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.photo-gallery__statistics::before {
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;
  content: '';
  background: url("../images/icons/eye.svg") 50% 50% no-repeat;
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.photo-gallery__statistics:hover::before {
  -webkit-filter: invert(0.65);
          filter: invert(0.65);
}

.photo-gallery__created {
  text-decoration: none;
  color: #1f1d21;
  position: relative;
  padding-left: 27px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.photo-gallery__created::before {
  position: absolute;
  left: 0;
  height: 22px;
  width: 23px;
  content: '';
  background: url("../images/icons/calendar.svg") 50% 50% no-repeat;
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.photo-gallery__created:hover::before {
  -webkit-filter: invert(0.65);
          filter: invert(0.65);
}

#block-views-block-photo-gallery {
  max-width: 845px;
  margin: 0 auto;
}

#block-views-block-photo-gallery h2 {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.node-photo-gallery .field-photo-text {
  margin-top: 15px;
}

.node-photo-gallery .field-photo-image {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.node-photo-gallery .field-photo-image .field__item {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.node-photo-gallery .field-photo-image .field__item a {
  display: inline;
}

.node-photo-gallery .field-photo-image .field__item img {
  display: block;
  width: 260px;
  -webkit-transition: 1s;
  transition: 1s;
}

.node-photo-gallery .field-photo-image .field__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.node-photo-gallery .field-photo-image .field__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
