.search .view-content > div {
  display: block !important;
}

.search .view-filters {
  position: relative;
  margin-top: 20px;
}

.search .js-form-item-text {
  width: 100%;
  color: #1f1d21;
  outline: none;
  border: none;
  margin: 0;
  padding: 14px 20px;
  padding-left: 10px;
  padding-right: 45px;
}

.search .js-form-item-text input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  height: 100%;
  font-size: 19px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 100%;
  margin: 0 0 8px 0;
  margin-top: 10px;
  padding-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.search .js-form-item-text input:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
          box-shadow: 0 1px 0 0 #26a69a;
}

.search .form-submit {
  font-size: 0;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  background-image: url("../images/icons/search.svg");
  -webkit-filter: invert(0.35);
          filter: invert(0.35);
  background-repeat: no-repeat;
  right: 32px;
  top: 24px;
  background-size: 100%;
  outline: none;
  border: none;
}
