.section-6 {
  position: relative;
  z-index: 1;
  background-color: #8ccaca;
  /* padding-top: $distanceBlock; */
  /* padding-bottom: $distance; */
  margin-top: 65px;
  margin-bottom: 50px;
}

.section-6:before, .section-6:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.section-6:before {
  top: 0;
  -webkit-transform: skewY(358deg);
          transform: skewY(358deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.section-6:after {
  bottom: 0;
  -webkit-transform: skewY(358deg);
          transform: skewY(358deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.section-6 .view-content {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (220px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}

@media (max-width: 545px) {
  .section-6 .view-content {
    grid-row-gap: 10px;
  }
}
