.section-1 .main-menu {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.section-1 {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
      grid-template-areas: "menu-main content banners";
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: minmax(260px, 21%) 1fr minmax(210px, 20%);
      grid-template-columns: minmax(260px, 21%) 1fr minmax(210px, 20%);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}

@media (max-width: 1045px) {
  .section-1 {
        grid-template-areas: "menu-main" "content" "banners";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-content: center;
  }
}

.section-1__main-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-main;
}

.section-1__content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
}

.section-1__banners {
  max-width: 1470px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: banners;
  text-align: center;
}

@media (max-width: 1045px) {
  .section-1__banners {
    margin-top: 20px;
  }
}

.section-1__banners a {
  margin-bottom: 5px;
  width: 100%;
}

@media (max-width: 1045px) {
  .section-1__banners a {
    width: 280px;
  }
}

.section-1__banners img {
  border: 1px solid #a7a6a6;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1045px) {
  .section-1__banners img {
    width: 280px;
    margin: 0 auto;
  }
}

.section-1__banners .field-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1__banners .slick-list {
  height: 700px !important;
}

@media (max-width: 1045px) {
  .section-1__banners .slick-list {
    height: 622px !important;
  }
}

@media (max-width: 1045px) {
  .section-1__banners .views-field-field-banner {
    overflow-y: scroll;
  }
}

@media (max-width: 1045px) {
  .section-1__banners .views-field-field-banner .field-content {
    height: 550px;
  }
}

@media (max-width: 1045px) {
  .section-1__banners .slide--0, .section-1__banners .slide--1 {
    display: none;
  }
}

@media (max-width: 1045px) {
  .section-1__banners .slide--2 {
    width: 280px;
    margin: 0 auto;
  }
}

.section-1 .main-menu {
  text-align: left;
}

@media (max-width: 1045px) {
  .section-1 .main-menu {
    display: none;
  }
}

.section-1 .main-menu li ul {
  display: none;
  background-color: #8ccaca;
}

.section-1 .main-menu li a {
  color: #1f1d21;
  padding: 7px;
  display: block;
  padding-left: 27px;
  position: relative;
  transition: all .2s;
  cursor: pointer;
}

.section-1 .main-menu li a:hover {
  color: #fff;
  background-color: #569797;
}

.section-1 .main-menu__item_collapsed > a:before {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-nav.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  left: 7px;
  bottom: 38%;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(180deg) scale(1.3);
          transform: rotate(180deg) scale(1.3);
}

.section-1 .main-menu__item_collapsed > a:hover::before {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.section-1 .main-menu .active > a {
  color: #fff;
  background-color: #569797;
}

.section-1 .main-menu .active > a::before {
  -webkit-transform: rotate(0) scale(1.3);
          transform: rotate(0) scale(1.3);
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.section-1 .main-menu .is-active {
  color: #fff;
  background-color: #569797;
}

.section-1 .main-menu .submenu-2 {
  position: static;
}

.section-1 #block-menu-main {
  text-align: center;
}

.section-1 #block-menu-main-menu {
  color: #569797;
  font-size: 19px;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

@media (max-width: 1045px) {
  .section-1 #block-menu-main-menu {
    background-color: #569797;
    color: #fff;
    letter-spacing: 1.5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 8px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1045px) and (max-width: 425px) {
  .section-1 #block-menu-main-menu {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 1045px) {
  .section-1 #block-menu-main-menu::before {
    position: absolute;
    content: "";
    background-image: url("../images/icons/arrow-nav.svg");
    background-color: transparent;
    left: 70px;
    bottom: 12px;
    width: 18px;
    height: 12px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-filter: brightness(10);
            filter: brightness(10);
  }
}

@media (max-width: 1045px) and (max-width: 425px) {
  .section-1 #block-menu-main-menu::before {
    left: 15%;
  }
}

.section-1 .active#block-menu-main-menu::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.section-1 .content-section-1 .view-content {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (255px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 255px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}

@media (max-width: 545px) {
  .section-1 .content-section-1 .view-content {
    grid-row-gap: 10px;
  }
}

.section-1 .infinite-scroll .view-content {
  display: block;
  margin-top: 15px;
}

.section-1 .infinite-scroll .view-content > div {
  display: -ms-grid;
  display: grid;
  justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (255px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 255px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}
