.section-7 {
  margin-top: 65px;
  margin-bottom: 30px;
}

.section-7 .view-content {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (221px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 221px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}

@media (max-width: 545px) {
  .section-7 .view-content {
    grid-row-gap: 10px;
  }
}
