.section-8 {
  background-color: #8ccaca;
  /* padding-top: $distanceBlock; */
  /* padding-bottom: $distance; */
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
}

.section-8 .view-content {
  margin-bottom: 30px;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (220px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
}

@media (max-width: 545px) {
  .section-8 .view-content {
    grid-row-gap: 10px;
  }
}
