#block-views-block-comments .view-content {
  max-width: 445px;
  margin: 0 auto;
}

#block-views-block-comments .slick, #block-views-block-comments .slick-wrapper {
  max-width: 100%;
  position: relative;
}

#block-views-block-comments .slick-arrow.slick-prev, #block-views-block-comments .slick-arrow.slick-next {
  z-index: 5;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

#block-views-block-comments .slick-arrow.slick-prev {
  left: -100px;
}

@media (max-width: 840px) {
  #block-views-block-comments .slick-arrow.slick-prev {
    left: -60px;
  }
}

#block-views-block-comments .slick-arrow.slick-prev::before {
  display: block;
  content: ' ';
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#block-views-block-comments .slick-arrow.slick-next {
  right: -85px;
}

@media (max-width: 840px) {
  #block-views-block-comments .slick-arrow.slick-next {
    right: -45px;
  }
}

#block-views-block-comments .slick-arrow.slick-next::before {
  display: block;
  content: ' ';
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  background-color: transparent;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#block-views-block-comments .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
}

#block-views-block-comments .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

#block-views-block-comments .slick-dots button {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #569797;
  /* border: transparent; */
  border-radius: 50%;
  background-color: #fff;
  outline: none;
}

@media (max-width: 640px) {
  #block-views-block-comments .slick-dots button {
    width: 7px;
    height: 7px;
  }
}

#block-views-block-comments .slick-active button {
  background-color: #569797;
}

#block-views-block-comments .container-no-padding {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  #block-views-block-comments .container-no-padding {
    padding: 0;
  }
}

#block-views-block-comments .slick-slide img {
  display: inline-block;
}
