/* %sf-semibold{
  font-family:'SFProDisplay', sans-serif;
  font-weight: 600;
}
%sf-bold{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 700;
}
%sf-medium{
  font-family: 'SFProDisplay', sans-serif;
  font-weight: 500;
}
%barlow-bold{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
%barlow-regular{
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
} */
.slider-banner .slick {
  /*  box-shadow: inset -20px -8px 0px 0px rgba(46, 179, 179, 1); */
  border: 1px solid #2eb3b3;
  /*     @media (max-width:425px) {
      box-shadow:none;
      border: none;
    } */
}

.slider-banner .slick, .slider-banner .slick-wrapper {
  max-width: 100%;
  position: relative;
}

.slider-banner .slick-arrow.slick-prev, .slider-banner .slick-arrow.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slider-banner .slick-arrow.slick-prev:hover, .slider-banner .slick-arrow.slick-next:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.slider-banner .slick-arrow.slick-prev {
  left: 20px;
}

.slider-banner .slick-arrow.slick-prev::before {
  display: block;
  content: ' ';
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-banner .slick-arrow.slick-next {
  right: 25px;
}

.slider-banner .slick-arrow.slick-next::before {
  display: block;
  content: ' ';
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  background-color: transparent;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider-banner .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 640px) {
  .slider-banner .slick-dots {
    bottom: 25px;
  }
}

@media (max-width: 440px) {
  .slider-banner .slick-dots {
    bottom: 15px;
  }
}

.slider-banner .slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slider-banner .slick-dots button {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #2eb3b3;
  /* border: transparent; */
  border-radius: 50%;
  background-color: #fff;
  outline: none;
}

@media (max-width: 640px) {
  .slider-banner .slick-dots button {
    width: 7px;
    height: 7px;
  }
}

.slider-banner .slick-active button {
  background-color: #2eb3b3;
}

.slider-banner .container-no-padding {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .slider-banner .container-no-padding {
    padding: 0;
  }
}

.slider-banner .views-field-field-image a {
  position: relative;
}

.slider-banner .views-field-edit-node a {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  right: 25px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 7px 15px;
  border-radius: 25px;
  background-color: #2eb3b3;
  color: #fff;
  transition: all .3s;
  border: 1px solid #2eb3b3;
}

@media (max-width: 425px) {
  .slider-banner .views-field-edit-node a {
    font-size: 12px;
    bottom: 5px;
  }
}

.slider-banner .views-field-edit-node a:hover {
  background-color: #fff;
  color: #2eb3b3;
}

.slider-banner a {
  display: block;
}
