@media (max-width: 700px) {
  .banners-custom {
    width: 260px;
    margin: 0 auto;
  }
}

.banners-custom .slick-arrow.slick-prev {
  left: -100px;
}

@media (max-width: 840px) {
  .banners-custom .slick-arrow.slick-prev {
    left: -60px;
  }
}

.banners-custom .slick-arrow.slick-prev::before {
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.banners-custom .slick-arrow.slick-next {
  right: -85px;
}

@media (max-width: 840px) {
  .banners-custom .slick-arrow.slick-next {
    right: -45px;
  }
}

.banners-custom .slick-arrow.slick-next::before {
  background-image: url("../images/icons/arrow.svg");
  background-size: 28px 28px;
  background-color: transparent;
  height: 28px;
  width: 28px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1045px) {
  .banners-custom .slick-track {
    display: flex;
    align-items: center;
  }
}

.banners-custom .slick-dots {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 1422px) {
  .banners-custom .slick-dots {
    bottom: 265px;
  }
}

@media (max-width: 1045px) {
  .banners-custom .slick-dots {
    bottom: -15px;
  }
}

.banners-custom .slick-dots button {
  width: 11px;
  height: 11px;
}

@media (max-width: 640px) {
  .banners-custom .slick-dots button {
    width: 7px;
    height: 7px;
  }
}
