.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

.social-links li {
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-links li a {
  height: 29px;
  width: 29px;
  color: transparent;
}

@media (max-width: 555px) {
  .social-links li a {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.social-links__vk {
  background: url("../images/icons/vk-bg.png") 50% 50% no-repeat;
}

.social-links__vk:hover {
  background-image: url("../images/icons/vk.png");
}

.social-links__ok {
  background: url("../images/icons/ok-bg.png") 50% 50% no-repeat;
}

.social-links__ok:hover {
  background-image: url("../images/icons/ok.png");
}

.social-links__facebook {
  background: url("../images/icons/facebook-bg.png") 50% 50% no-repeat;
}

.social-links__facebook:hover {
  background-image: url("../images/icons/facebook.png");
}

.social-links__instagram {
  background: url("../images/icons/instagram-bg.png") 50% 50% no-repeat;
}

.social-links__instagram:hover {
  background-image: url("../images/icons/instagram.png");
}

.social-links__ytube {
  background: url("../images/icons/ytube-bg.png") 50% 50% no-repeat;
}

.social-links__ytube:hover {
  background-image: url("../images/icons/ytube.png");
}
