#block-views-block-staff h2, .staff-full h2, .node-staff .field-staff-sername, .node-staff .field-staff-txt-name, .node-staff .field-staff-position {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#block-views-block-staff, .staff-full {
  max-width: 845px;
  margin: 0 auto;
}

#block-views-block-staff h2, .staff-full h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#block-views-block-staff .views-row, .staff-full .views-row {
  position: relative;
}

#block-views-block-staff .views-row:hover .staff__bottom, .staff-full .views-row:hover .staff__bottom {
  background-color: #fff;
  opacity: 0.7;
}

#block-views-block-staff .staff, .staff-full .staff {
  text-align: center;
}

#block-views-block-staff .staff a, .staff-full .staff a {
  font-size: 0;
  color: #1f1d21;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: .2s;
}

#block-views-block-staff .staff a:hover, .staff-full .staff a:hover {
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#block-views-block-staff .staff__image, .staff-full .staff__image {
  padding-top: 5px;
  background: #569797;
}

#block-views-block-staff .staff__bottom, .staff-full .staff__bottom {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 5px;
  transition: all .2s;
}

#block-views-block-staff .staff__position, .staff-full .staff__position {
  text-transform: lowercase;
  margin-top: 10px;
}

.staff-full .view-content > div {
  margin-bottom: 30px;
  -ms-grid-columns: (220px)[auto-fill] !important;
      grid-template-columns: repeat(auto-fill, 220px) !important;
}

.node-staff .field-staff-sername, .node-staff .field-staff-txt-name, .node-staff .field-staff-position {
  text-align: center;
}

.node-staff .field-photo-staff {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
