@charset "UTF-8";
/* для всех таблиц */
table {
  margin-top: 15px;
  margin-bottom: 45px;
  background-color: #fff;
}

@media (max-width: 375px) {
  table {
    font-size: 15px;
  }
}

td, th {
  padding: 10px;
  border: 1px solid #bbb;
}

@media (max-width: 375px) {
  td, th {
    padding: 5px;
  }
}

thead td {
  text-align: center;
}

.table-1 td:nth-child(1) {
  width: 50%;
}

.table-1 td:nth-child(2) {
  width: 50%;
}

.tp-3 .table-1 td:nth-child(1) {
  width: 70%;
}

.tp-3 .table-1 td:nth-child(2) {
  width: 30%;
}
