#block-targets, #block-views-block-target a, .targets-page a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* target-teaser */
#block-targets {
  padding: 20px 0;
  margin-bottom: 15px;
  text-align: center;
  background-color: #569797;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#block-views-block-target, .targets-page {
  max-width: 845px;
  margin: 0 auto;
}

#block-views-block-target a, .targets-page a {
  display: block;
  color: #1f1d21;
}

#block-views-block-target .view-content, .targets-page .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  /*     
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3 ,255px);
    grid-gap: clamp(0.5vw, 1vw, 2vw);
    grid-row-gap: 30px;
    @media (max-width: 425px) {
      grid-row-gap: 10px;
    } */
}

#block-views-block-target .field-content, .targets-page .field-content {
  width: 255px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

#block-views-block-target .field-content a:first-child, .targets-page .field-content a:first-child {
  padding-top: 20px;
  padding-bottom: 10px;
}

#block-views-block-target .front, .targets-page .front {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#block-views-block-target .back, .targets-page .back {
  opacity: 0;
  position: absolute;
  top: -4px;
  left: 90px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#block-views-block-target .field-content:hover .back, .targets-page .field-content:hover .back {
  opacity: 1;
}

#block-views-block-target .field-content:hover .front, .targets-page .field-content:hover .front {
  opacity: 0;
}

/* target-full */
.target-full__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .target-full__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.target-full__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .target-full__text {
    margin-right: 5px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.target-full__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  text-align: center;
  /*     img {
      width: 87px;
    } */
}

.target-full__gallary {
  text-align: center;
  margin-bottom: 15px;
}

.target-full__gallary .field__item {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.target-full__gallary .field__item a {
  display: inline;
}

.target-full__gallary .field__item img {
  display: block;
  width: 260px;
  -webkit-transition: 1s;
  transition: 1s;
}

.target-full__gallary .field__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.target-full__gallary .field__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
