#block-views-block-useful-links h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#block-views-block-useful-links h2 {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

#block-views-block-useful-links .view-useful-links {
  max-width: 845px;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

#block-views-block-useful-links .view-content {
  display: flex;
  justify-content: flex-start;
  width: 1900px;
}

.useful-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 159px;
  height: 159px;
  color: #1f1d21;
}

.useful-links:hover img {
  opacity: 0.3;
}

.useful-links:hover .useful-links__title {
  opacity: 1;
}

.useful-links img {
  opacity: 1;
  transition: all .2s;
}

.useful-links__title {
  text-align: center;
  position: absolute;
  top: 20px;
  left: -2px;
  opacity: 0;
  transition: all .2s;
}

/* https://active-vision.ru/blog/polosa-prokrutki-css/ */
.view-useful-links::-webkit-scrollbar {
  /* height: 10px; */
  background-color: #569797;
}

.view-useful-links::-webkit-scrollbar-thumb {
  /* border-radius: 8px; */
  background-color: #fff;
}

.view-useful-links::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  /* border-radius: 8px; */
  background-color: #569797;
}
