@import "../base/vars";

#block-site-map {
  white-space: nowrap;
}

.sitemap {
  .sitemap-item h2 {
   color: $mainColor;
   margin-top: 15px;
   margin-bottom: 15px;
  }
  .sitemap-menu {
   a {
     position: relative;
     margin-bottom: 5px;
   }
   .main-menu__item_collapsed > a {
    &::before {
      left: -20px;
      transform: rotate(0deg);
    }
   }
   .submenu, .submenu-2 {
    a {
      padding-left: 5px;
    } 
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-left: 1px solid $mainColor;
   }
  }
}
