@import "../base/vars";

.news-teaser {
  position: relative;
  transition: all .3s;
  height: 295px;
  width: 255px;
  border: 1px solid $borderColor;
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-radius: 3px;
      .news-teaser__hover-text {
        opacity: 1;
      }
    }
  }
  &__hover-text {
    opacity: 0;
    transition: all .3s;
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 18px 35px;
    color: $mainFontColor;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    @media (max-width: 555px) {
      left: 28px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 8px 5px 8px;
    width: 100%;
    min-height: 45%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
  }
  &__no-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54%;
    background-color: $secondColor;
    &::before {
      transform: scale(1.2);
      top: 35px;
      left: 85px;
      position: absolute;
      height: 78px;
      width: 78px;
      content: '';
      background: url('../images/icons/news-no_img.svg') 50% 50% no-repeat;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    @extend %calibri-medium;
    text-transform: uppercase;
    margin-bottom: 5px;
   }
  &__tags {
    .field__item:not(:last-child) {
      margin-bottom: -10px;
    }
    a {
      text-decoration: none;
      color: $mainFontColor; 
      position: relative;
      z-index: 3;
      max-height: 23px;
      overflow: hidden;
      padding-left: 20px;
      transition: all .2s;
      &::before {
        position: absolute;
        left: 0;
        height: 26px;
        width: 16px;
        content: '';
        background: url('../images/icons/hash-tag.svg') 50% 50% no-repeat;
        filter: invert(1);
        transition: all .2s;
      }
      &:hover::before {
        filter: invert(.65);
      }
      &:hover {
        color: $mainColor;
      }
    }
  }
  &__comments {
    text-decoration: none;
    color: $mainFontColor; 
    position: relative;
    padding-left: 30px;
    transition: all .2s;
    &::before {
      position: absolute;
      left: 0;
      height: 22px;
      width: 22px;
      content: '';
      background: url('../images/icons/eye.svg') 50% 50% no-repeat;
      filter: invert(.35);
      transition: all .2s;
    }
    &:hover::before {
      filter: invert(.65);
    }
  }
  &__created {
    text-decoration: none;
    color: $mainFontColor; 
    position: relative;
    padding-left: 27px;
    transition: all .2s;
    &::before {
      position: absolute;
      left: 0;
      height: 22px;
      width: 23px;
      content: '';
      background: url('../images/icons/calendar.svg') 50% 50% no-repeat;
      filter: invert(.35);
      transition: all .2s;
    }
    &:hover::before {
      filter: invert(.65);
    }
  }
}

.news-full {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: $distance;
    margin-bottom: $distance;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__no-img {
    position: relative;
    flex: 0 0 255px;
    height: 161px;
    background-color: $secondColor;
    &::before {
      transform: scale(1.2);
      top: 35px;
      left: 85px;
      position: absolute;
      height: 78px;
      width: 78px;
      content: '';
      background: url('../images/icons/news-no_img.svg') 50% 50% no-repeat;
    }
    @media (max-width: 768px) {
      width: 255px;
      margin: 0 auto;
    }
  }
  &__image {
    overflow: hidden;
    img {
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
    flex: 0 0 255px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__text {
    flex-grow: 1;
    margin-top: $distance;
    margin-left: $distance;
    @media (max-width: 768px) {
     margin-left: 5px;
    }
  }
  &__text-extra {
    margin-bottom: $distance;
  }
  &__tags {
    margin-top: $distance;
    .field__item:not(:last-child) {
      margin-bottom: -10px;
    }
    a {
      line-height: 1.5;
      text-decoration: none;
      color: $mainFontColor; 
      position: relative;
      padding-left: 20px;
      transition: all .2s;
      &::before {
        position: absolute;
        left: 0;
        height: 26px;
        width: 16px;
        content: '';
        background: url('../images/icons/hash-tag.svg') 50% 50% no-repeat;
        filter: invert(1);
        transition: all .2s;
      }
      &:hover::before {
        filter: invert(.65);
      }
      &:hover {
        color: $mainColor;
      }
    }
  }
  &__gallary {
    text-align: center;
    .field__item {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      overflow: hidden;
      a {
        display: inline; // убирает отступы
      }
      img {
        display: block; // убирает отступы
        transition: 1s;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
} 