@import "../base/vars";

.section-3 {
  position: relative;
  z-index: 1;
  background-color: $secondColor;
  margin-top: 65px;
  margin-bottom: 50px;
  .block.block-views {
    h2 {   // заголовок блока
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 30px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      @extend %calibri-bold;
      letter-spacing: 1.3px;
    }
  }
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
  //косые углы
  &:before,
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:before {
    top: 0;
    transform: skewY(2deg);
    transform-origin: 100% 0; // точка вращения
  }
  
  &:after {
    bottom: 0;
    transform: skewY(2deg);
    transform-origin: 0 0; // https://webref.ru/layout/html5-css3/transform/origin
  }
}