@import "../base/vars";

.section-2.grid {
  display: grid;
  margin-bottom: $distanceBlock;
  grid-template-areas:
  "left content right";
  grid-template-rows: 1fr;
  grid-template-columns: minmax(260px, 21%) 1fr minmax(210px, 20%);
  grid-gap: clamp(0.5vw, 1vw, 2vw);
  @media (max-width:1045px) {
    grid-template-areas:
    "left"
    "content"
    "right";
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.section-2 {
  .block.block-views {
    h2 {   // заголовок блока
      margin-left: -10px;
      margin-right: -10px;
      padding: 20px 0;
      margin-bottom: $distance;
      text-align: center;
      background-color: $mainColor;
      color: #fff;
      text-transform: uppercase;
      @extend %calibri-bold;
      letter-spacing: 1.3px;
    }
  }
  &__left {
    margin-bottom: $distanceBlock;
    grid-area: left;
    text-align: center;
    img{
      border: 1px solid $borderColor;
      margin-bottom: 5px;
      text-align: center;
    }
   }
   &__content {
     grid-area: content;
   }
   &__right {
     grid-area: right;
     text-align: center;
     img{
      border: 1px solid $borderColor;
      margin-bottom: 5px;
      text-align: center;
    }
    @media (max-width: 1045px) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
    }
   }
}