@import "../base/vars";


#block-views-block-achievements, .achievements-full {

  h2 {   // заголовок блока
    padding: 20px 0;
    margin-bottom: $distance;
    text-align: center;
    background-color: $mainColor;
    color: #fff;
    text-transform: uppercase;
    @extend %calibri-bold;
    letter-spacing: 1.3px;
  }
  .view-achievements {
    max-width: 845px;
    margin: 0 auto;
  }
  .views-row, .field-content {
    background-color: $secondColor;
    height: 221px;
    text-align: center;
    transition: .2s;
    overflow: hidden;
    &:hover {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: 1s;
    }
  }
}
