@import "../base/vars";


.section-7 {
  margin-bottom: 35px;
  .block.block-views {
    h2 {   // заголовок блока
      font-size: 36px;
      @extend %antelive-Bold;
      margin-left: -10px;
      margin-right: -10px;
      color: $mainColor;
      margin-bottom: 10px;
      text-align: center;
      @media (max-width:555px) {
        font-size: 28px;
        margin-bottom: 0;
      }
    }
  }
}