@import "../base/vars";

#block-views-block-remote-video {
  max-width: 638px;
  margin: 0 auto;
  .view-content {
    position: relative;
    margin: 90px 0 60px 0;
    background: #7f7f7f;
    padding: 40px 130px 40px 40px;
    border-radius: 20px;
      @media (max-width: 665px) {
        background: transparent;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0;
        margin-left: -15px; // убирает отступы при адаптиве
        margin-right: -15px;
      }
      @media (max-width: 375px) {
        margin-left: -10px; // убирает отступы при адаптиве
        margin-right: -10px;
      }
    &::before {
      position: absolute;
      content: '';
      top: -33px;
      left: 195px;
      width: 150px;
      height: 49px;
      background: url('../images/remote/remote-bg-1.png') no-repeat;
      background-size: 100%;
      @media (max-width: 665px) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: '';
      top: 69px;
      right: 31px;
      width: 81px;
      height: 168px;
      background-color: #fff;
      border-radius: 10px;
      @media (max-width: 665px) {
        display: none;
      }
    }
  }
  .field__item {
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%; /* Если соотношения 4:3 :75%. */
    /* padding-top:30px; */
    height:0;
    iframe {
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
      border-radius: 15px;
      @media (max-width: 665px) {
        border-radius: 0px;
      }
    }
    @media (max-width: 665px) {
      display: flex;
      justify-content: center;
    }
  }
  .slick {
    .slick-arrow {
      &.slick-prev {
        right: 85px;
        transition: all .2s;
        &:hover {
          opacity: 0.7;
        }
        &::before {
          background-image: url('../images/remote/remote-arrow.png');
          background-size: 66px 66px;
          height: 66px;
          width: 66px;
        }
      }
      &.slick-next {
        top: 90px;
        right: 85px;
        transition: all .2s;
        &:hover {
          opacity: 0.7;
        }
        &::before {
          background-image: url('../images/remote/remote-arrow.png');
          background-size: 66px 66px;
          height: 66px;
          width: 66px;
          transform: rotate(180deg);
        }
      }
  }
  .slick-dots {
    bottom: 15px;
    @media (max-width: 665px) {
      bottom: -20px;
    }
  }
 }
}

.remote-full {
  .view-content > div { // по две плитки
    grid-template-columns: repeat(auto-fill, 395px) !important;
  }
  .field__item {
    overflow:hidden;
    position:relative;
    padding-bottom:56.25%; /* Если соотношения 4:3 :75%. */
    /* padding-top:30px; */
    height:0;
    iframe {
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
      border-radius: 15px;
      @media (max-width: 665px) {
        border-radius: 0px;
      }
    }
    @media (max-width: 665px) {
      display: flex;
      justify-content: center;
    }
  }

  .views-field-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .field__item {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
}

.node-remote-gallery {
  margin-top: 15px;
}
